<div class="visualization-container">
  <div class="network-visualization">
    <div
      *ngFor="let layer of layerSizes; let i = index"
      class="layer-column"
      [ngStyle]="{
        flex: i === 0 || i === layerSizes.length - 1 ? '0 0 100px' : '0 0 80px'
      }"
    >
      <div class="layer-label">
        <span *ngIf="i === 0">Input Layer</span>
        <span *ngIf="i > 0 && i < layerSizes.length - 1"
          >Hidden Layer {{ i }}</span
        >
        <span *ngIf="i === layerSizes.length - 1">Output Layer</span>
      </div>

      <div class="nodes-container">
        <ng-container *ngIf="shouldRenderAllNodes(i)">
          <div
            *ngFor="let n of getNodesArray(layer)"
            class="node"
            [@trainingPulse]="
              isTraining ? (n % 2 === 0 ? 'active' : 'inactive') : 'inactive'
            "
            [ngClass]="{
              'input-node': i === 0,
              'hidden-node': i > 0 && i < layerSizes.length - 1,
              'output-node': i === layerSizes.length - 1,
              training: isTraining
            }"
          ></div>
        </ng-container>

        <ng-container *ngIf="!shouldRenderAllNodes(i)">
          <div
            *ngFor="let n of getVisibleNodesArray(i)"
            class="node"
            [@trainingPulse]="
              isTraining ? (n % 2 === 0 ? 'active' : 'inactive') : 'inactive'
            "
            [ngClass]="{
              'input-node': i === 0,
              'hidden-node': i > 0 && i < layerSizes.length - 1,
              'output-node': i === layerSizes.length - 1,
              training: isTraining
            }"
          ></div>
          <div class="node-ellipsis">...</div>
          <div class="node-count">{{ layer }} nodes</div>
        </ng-container>
      </div>

      <div class="layer-info">
        <span *ngIf="i === 0">28×28 pixel image</span>
        <span *ngIf="i === layerSizes.length - 1">Digits 0-9</span>
        <span *ngIf="i > 0 && i < layerSizes.length - 1"
          >{{ layer }} neurons</span
        >
      </div>
    </div>

    <!-- Lines connecting the nodes -->
    <ng-container *ngFor="let layer of layerSizes; let i = index">
      <div
        *ngIf="i < layerSizes.length - 1"
        class="connection-layer"
        [ngStyle]="getConnectionStyle(i)"
      ></div>
    </ng-container>
  </div>
</div>
